html{background: #ccc;margin: 5px; font-family:'Microsoft Sans Serif',sans-serif;}
body{max-width:1400px;margin: auto;margin-top: 5px;padding:5px;color: #292929;font-size:13px;overflow: auto;background: #fff;border: 1px solid #cccccc;}
#footer{clear:both;}

nav{
    display: block;
}
.orders{
    display: block;
    padding: 3px 0px;
}
li{
    list-style: none;
    width: 100%;
}
li>a{
    width: 100%;
    text-decoration: none;
    color: black;
}
span{
    display: inline-block;
}


.order-data{
    width: 150px;
}
.login-user{
    width: 130px;
}
.name-user{
    width: 250px;
}
.delivery-name{
    width: 200px;
}
.summary{
    width: 80px;
}
.order-id{
    width: 150px;
}
.order-item-count{
    width: 150px;
}